# Data Analytics - investigating Tiller dataset

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from google.cloud import bigquery

Checking service account key

In [2]:
import pydata_google_auth
credentials = pydata_google_auth.get_user_credentials(
    ['https://www.googleapis.com/auth/bigquery'],
)

Please visit this URL to authorize this application: https://accounts.google.com/o/oauth2/auth?response_type=code&client_id=262006177488-3425ks60hkk80fssi9vpohv88g6q1iqd.apps.googleusercontent.com&redirect_uri=http%3A%2F%2Flocalhost%3A8080%2F&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fbigquery&state=KEMXBBmjNq1fuhnbc0QAwAoD7mfPa2&access_type=offline

In [3]:
credentials

In [14]:
project_id = 'wagon-bootcamp-290987'
dataset_id = 'neo_bank'
bigquery_region = 'EU'

TABLE1 = 'devices'
TABLE2 = 'notifications'
TABLE3 = 'transactions'
TABLE4 = 'users'

In [15]:
def query_whole_table(table):

    query = f"""
            SELECT *
            FROM {project_id}.{dataset_id}.{table}
            """
    
    return query

In [16]:
query_table1 = query_whole_table(TABLE1)

In [17]:
client = bigquery.Client(project=project_id, credentials=credentials)

In [18]:
df_table1 = client.query(query_table1).to_dataframe()
df_table1.head()

  string_field_0 string_field_1
0          Apple      user_6809
1          Apple      user_3636
2          Apple       user_510
3          Apple      user_3468
4          Apple      user_7036